@import './variables.scss';

/* Styles */
html {
  // resetting the default font size to 10px for rem
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font: 1rem 'Open Sans', sans-serif;
  line-height: 1.4em;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
  // dark theme
  background-color: $white;
  scroll-behavior: smooth;
}

textarea {
  font: 1rem 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container {
  min-width: 23rem;
  max-width: 114rem;
  margin: 0 auto;
}

.section-wrapper {
  max-width: 1300px;
  margin: 50px auto;
  padding: 50px 0;
}

.highlight {
  color: $brand-color;
}