@import "../../variables.module.scss";
@import "../../mixin.module.scss";

.event {
  &Wrapper {
    display: flex;

    @include bp(tablet) {
      flex-direction: column;
    }
  }

  &Item {
    flex: 0 0 50%;
    position: relative;
    padding: 0 20px;
    box-sizing: border-box;
    border-left: solid 1px $theme-color;

    @include bp(tablet) {
      border-left: none;
      text-align: center;
      border-top: solid 1px $theme-color;
      border-left: none;
      padding: unset;
      padding-top: 20px;
    }

    &:first-child {
      text-align: end;
      border-left: none;
      border-top: none;
      border-right: solid 1px $theme-color;

      @include bp(tablet) {
        text-align: center;
        border-bottom: solid 1px $theme-color;
        border-right: none;
        padding: unset;
        padding-bottom: 20px;
      }
    }
  }

  &Image {
    // max-width: 40vh;
    width: 60vh;
    height: 40vh;
    object-fit: cover;

    margin-bottom: 20px;

    @include bp(tablet) {
      width: 100%;
    }

  }

  &Heading {
    font-size: 20px;
    line-height: 18px;
    margin-bottom: 20px;
  }

  &Content {
    font-size: 16px;
    line-height: 15px;
    margin-bottom: 10px;
  }
}