@import "../../variables.module.scss";
@import "../../mixin.module.scss";

.story {
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    left: 50%;
    top: var(--top);
    background-color: $theme-color;
    z-index: 1;
    transition: top 0.7s ease;
  }

  &Item {
    position: relative;
    height: 350px;


    &::after {
      content: '';
      position: absolute;
      width: 2px;
      height: 100%;
      left: 50%;
      top: 0;
      background-color: #ccc;
    }
  }

  &Heart {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 50%;
    top: 245px;
    transform: translateX(-46%);
    z-index: 1;
    transition: top 0.7s ease;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &Content {
    position: absolute;
    width: 42%;
    top: 50px;
    padding: 30px 60px;
    box-sizing: border-box;
    border: solid 1px #ccc;

    @include bp(tablet) {
      padding: 8px;
      top: 20px;
    }

    @include bp(phone) {
      top: 141px;
      width: 100%;
      background-color: #ffffffb8;
      z-index: 1;
    }

    .reverse & {
      right: 0;
    }

    &::after {
      content: '';
      position: absolute;
      top: 60px;
      right: -16px;
      width: 0;
      height: 0;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      border-left: 15px solid #ccc;

      .reverse & {
        left: -16px;
        right: unset;
        transform: rotateY(180deg);
      }
    }
  }

  &Heading {
    font-size: 20px;
    line-height: 18px;
    margin-bottom: 5px;

    @include bp(phone) {
      font-size: 16px;
    }
  }

  &Date {
    margin-bottom: 15px;
  }

  &Detail {
    font-size: 14px;
    line-height: 20px;

    @include bp(phone) {
      font-size: 14px;
      line-height: 15px;
    }
  }

  &Img {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
    z-index: 2;

    @include bp(tablet) {
      width: 75px;
      height: 75px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}